[submodule "common/benchmark"]
	path = common/benchmark
	url = https://github.com/google/benchmark
[submodule "common/googletest"]
	path = common/googletest
	url = https://github.com/google/googletest
